body {
 color: #0f0f51;
 font-family: 'georgia';
 font-size: 16pt;
 background: #1DBA77;
}


.wrapper {
  margin: 0 auto;
  width: 70%;
  text-align: left;
  padding: 3%;
}

.main {
  letter-spacing: .02em;
  line-height: 1.2em;
}

a {
  color: #494ffc;
}

h1, h2, h3 {
  font-family: 'Gotham';
}

h1 {
  font-size: 3.5em;
  border-bottom: 1px solid;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  display: inline-block;
}

h2 {
  padding-top: 30px;
}

img {
  height: 90%;
  width: 90%;
  text-decoration: 4px solid #126d5f;
}
