body {
	font-family: 'Karla', sans-serif;
	margin: 0px;
	color: #ffffff;
	font-size: 16pt;
	background: #1c1c1c;
	text-align: center;
}

header {
	text-align: right;
	padding: 20px;
}

h1 {
	font-family: 'Leckerli One', cursive;
	font-weight: 700;
	font-size: 4.5em;
	color: #ff0098;
	margin: 0px;
	padding-top: 50px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	font-size: 0.7em;
	margin: 0px;
	color: #ff0098;
	top: -20px;
	left: -20px;
	position: relative;
}

a {
	color: #ff0098;
	text-decoration: none;
}

.signup {
	font-size: 1.3em;
	padding-top: 20px;
}

.signup p {
	margin: 10px;
}

input {
	border: none;
	border-bottom: 1px solid #ff0098;
	line-height: 2em;
	color: #ff0098;
	background: #1c1c1c;
}

input:focus {
	outline: none;
}

.tagline {
	padding: 30px;
}

.wrapper {
	border: 10px solid #ff0098;
	height: 100vh;
}

.title {
	position: relative;
}
